body {
    background-color: cornflowerblue;
}
.box {
    display: block;
    background-color: white;
    margin-bottom: 8%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    padding-bottom: 5%;
    border-radius: 8px;
    max-width: 500px;
}
.headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 256px;
    border-radius: 8px;
}
h1 {
    color: dodgerblue;
    text-align:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
}
h2 {
    color: dodgerblue;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img.social {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.row {
    display: flex;
}
h3 {
    color: dodgerblue;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
ul {
    line-height: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.social {
    text-align: center;
}
.bio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 200%;
}
table {
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.list{
    text-align: center;
}
.list ul {
    display: inline-block;
    text-align: left;
}
.link {
    color: black;
}

.link:hover {
    color: red;
}
table.edu td {
    line-height: 200%;
}
table.edu th {
    line-height: 100%;
}

.iconNotice {
    margin-left: auto;
    margin-right: auto;  
}